{
  "version": "2018-05-29",
  "operation": "UpdateItem",
  "key": {
    "jobId": $util.dynamodb.toDynamoDBJson($ctx.args.jobId)
  },
  "update": {
    "expression": "SET #status = :s, #outputFile = :o, #updatedAt = :u",
    "expressionNames": {
      "#status": "status",
      "#outputFile": "outputFile",
      "#updatedAt": "updatedAt"
    },
    "expressionValues": {
      ":s": $util.dynamodb.toDynamoDBJson($ctx.args.status),
      ":o": $util.dynamodb.toDynamoDBJson($ctx.args.outputFile),
      ":u": $util.dynamodb.toDynamoDBJson($util.time.nowISO8601())
    }
  }
}