{
  "version": "2018-05-29",
  "operation": "UpdateItem",
  "key": {
    "jobId": { "S": "$ctx.args.jobId" }
  },
  "condition": {
    "expression": "attribute_exists(#s)",
    "expressionNames": {
      "#s": "status"
    }
  },
  "update": {
    "expression": "SET #s = :s, outputFile = :o, updatedAt = :u",
    "expressionNames": {
      "#s": "status"
    },
    "expressionValues": {
      ":s": { "S": "$ctx.args.status" },
      ":o": #if($ctx.args.outputFile) { "S": "$ctx.args.outputFile" } #else { "NULL": true } #end,
      ":u": { "S": "$util.time.nowISO8601()" }
    }
  }
}