#if ($ctx.error)
  $util.error($ctx.error.message, $ctx.error.type)
#end

{
  "jobId": "$ctx.args.jobId",
  "status": "$ctx.args.status",
  "outputFile": #if($ctx.args.outputFile) "$ctx.args.outputFile" #else null #end,
  "updatedAt": "$util.time.nowISO8601()"
}